<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="modal-title">
        <span>Maestro Camiones</span>
        <ion-button fill="clear" color="dark" (click)="dismiss(null)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Placa</ion-label>
    <ion-input type="text" [(ngModel)]="camion.placa"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Remolque</ion-label>
    <ion-input type="text" [(ngModel)]="camion.remolque"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Camion Propio</ion-label>
    <ion-checkbox [(ngModel)]="camion.esPropio"></ion-checkbox>
  </ion-item>

  <ion-item>
    <ion-label>Activo</ion-label>
    <ion-checkbox [(ngModel)]="camion.activo"></ion-checkbox>
  </ion-item>

  <ion-button class="primary-button" [disabled]="clicked" (click)="guardar()">Guardar</ion-button>

</ion-content>