ion-fab{
    top: 0;
    display: flex;
    justify-content: flex-end;
    height: -webkit-fill-available;
    align-items: center;
    ion-fab-button{
        --border-radius: 0;
        width: 250px;
        white-space: pre-wrap !important;
    }
}

@media (max-width: 700px) {
  .username{
      display: none;
  }
  ion-fab-button{
    width: 50px !important;
    background-color: transparent !important;
  }
  ion-fab-list{
    width: 250px;
    ion-fab-button{
        width: 250px !important;
    }
  }

}
