<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="modal-title">
        <span>Maestro Sedes</span>
        <ion-button fill="clear" color="dark" (click)="dismiss(null)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Nombre</ion-label>
    <ion-input type="text" [(ngModel)]="sede.nombre"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Dirección</ion-label>
    <ion-input type="text" [(ngModel)]="sede.direccion"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Activo</ion-label>
    <ion-checkbox [(ngModel)]="sede.activo"></ion-checkbox>
  </ion-item>

  <ion-button (click)="guardar()" [disabled]="clicked">Guardar</ion-button>

</ion-content>