<ion-header>
  <ion-toolbar>
    <ion-title>
      <div class="modal-title">
        <span>Maestro Camiones</span>
        <ion-button fill="clear" color="dark" (click)="dismiss(null)">
          <ion-icon name="close-outline"></ion-icon>
        </ion-button>
      </div>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-item>
    <ion-label>Contraseña Actual</ion-label>
    <ion-input type="password" [(ngModel)]="oldPassword"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Contraseña Nueva</ion-label>
    <ion-input type="password" [(ngModel)]="newPassword"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Confirmar Contraseña</ion-label>
    <ion-input type="password" [(ngModel)]="confirmPassword"></ion-input>
  </ion-item>

  <ion-button class="primary-button" (click)="guardar()">Guardar</ion-button>

</ion-content>