<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
  <app-user-menu></app-user-menu>
</ion-header>

<ion-content class="ion-padding">

  <p-table #dt [columns]="cols" exportFilename="usuarios" [value]="usuarios"
    styleClass="p-datatable-striped p-datatable-responsive-demo" [paginator]="true" [rows]="10"
    [showCurrentPageReport]="true" currentPageReportTemplate="Mostrando {first} a {last} de {totalRecords} registros"
    [rowsPerPageOptions]="[10,25,50]">
    <ng-template pTemplate="caption">
      <div class="p-d-flex">
        <p-button label="Agregar Nuevo" icon="pi pi-plus" iconPos="left" (click)="mostrarModal(null)"></p-button>
        <p-button label="Exportar a CSV" icon="pi pi-file-o" iconPos="left" (click)="dt.exportCSV()"></p-button>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>
        <th pSortableColumn="nombre">Nombre <p-sortIcon field="nombre"></p-sortIcon>
        </th>
        <th pSortableColumn="email">Correo <p-sortIcon field="email"></p-sortIcon>
        </th>
        <th pSortableColumn="celular">Celular <p-sortIcon field="celular"></p-sortIcon>
        </th>
        <th pSortableColumn="cliente">Cliente <p-sortIcon field="cliente"></p-sortIcon>
        </th>
        <th pSortableColumn="activo">Estado <p-sortIcon field="activo"></p-sortIcon>
        </th>
        <th rowspan="2" class="action-column">Acciones</th>
      </tr>
      <tr>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'nombre', 'contains')"
            placeholder="Buscar por Nombre" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'email', 'contains')"
            placeholder="Buscar por Correo Electrónico" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'celular', 'contains')"
            placeholder="Buscar por Celular" class="p-column-filter">
        </th>
        <th>
          <input pInputText type="text" (input)="dt.filter($event.target.value, 'cliente', 'contains')"
            placeholder="Buscar por Cliente" class="p-column-filter">
        </th>
        <th>
          <p-dropdown [options]="statuses" (onChange)="dt.filter($event.value, 'activo', 'equals')"
            styleClass="p-column-filter" placeholder="Buscar por Estado" [showClear]="true">
            <ng-template let-option pTemplate="item">
              <span>{{option.label}}</span>
            </ng-template>
          </p-dropdown>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuario>
      <tr>
        <td><span class="p-column-title">Nombre </span>{{usuario.nombre}}</td>
        <td><span class="p-column-title">Email </span>{{usuario.email}}</td>
        <td><span class="p-column-title">Celular </span>{{usuario.celular}}</td>
        <td><span class="p-column-title">Celular </span>{{usuario.nombreCliente}}</td>
        <td><span class="p-column-title">Estado </span>{{usuario.activo == true ? "Activo" : "Inactivo"}}</td>
        <td class="action-column">
          <p-button label="Editar" icon="pi pi-pencil" iconPos="left" (click)="mostrarModal(usuario.id)" class="primary-button"></p-button>
        </td>
      </tr>
    </ng-template>
  </p-table>

</ion-content>