.modal-title{
    display: flex;
    justify-content: space-between;
    span{
        display: flex;
        align-items: center;
    }
}

.title-roles{
    margin-top: 15px;
    margin-bottom: 15px;
}